#header {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 85px; position: fixed; z-index: 9000; box-shadow: 0px 0px 5px #ccc;
}
#header1 {
	background: rgb(255, 255, 255); width: 100%; height: 85px; box-shadow: 0px 0px 5px #ccc;
}
.header {
	margin: 0px auto; padding: 15px 0px 0px; width: 1200px;
}
.header .header_logo {
	float: left;
}
.header .header_nav {
	margin: 10px 0px 0px 130px; width: 905px; float: left;
}
.header .header_nav ul {
	float: left;
}
.header .header_nav li {
	width: 150px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 5px; border-bottom-style: solid; float: left; position: relative;
}
.header .header_nav li .uls {
	left: 0px; top: 60px; display: none; position: absolute; z-index: 10;
}
.header .header_nav li .uls li {
	border: 0px currentColor; border-image: none; width: 150px; position: static;
}
.header .header_nav li .uls li a {
	height: 40px; color: rgb(99, 100, 103); line-height: 40px; text-indent: 30px; padding-bottom: 0px; font-size: 14px; text-decoration: none; display: block;
}
.header .header_nav li .uls li a.icon1 {
	background: url("../img/icon109.png") no-repeat 7px 13px rgb(255, 255, 255);
}
.header .header_nav li .uls li a.icon2 {
	background: url("../img/icon107.png") no-repeat 7px 13px rgb(255, 255, 255); border-radius: 0px 0px 5px 5px;
}
.header .header_nav li .uls li:hover a.icon1 {
	background: url("../img/icon110.png") no-repeat 7px 13px rgb(60, 177, 231); color: rgb(255, 255, 255);
}
.header .header_nav li .uls li:hover a.icon2 {
	background: url("../img/icon108.png") no-repeat 7px 13px rgb(60, 177, 231); color: rgb(255, 255, 255);
}
.header .header_nav li a {
	height: 40px; text-align: center; color: rgb(0, 0, 0); line-height: 40px; padding-bottom: 15px; font-size: 14px; text-decoration: none; display: block;
}
.header .header_nav li.on {
	border-bottom-color: rgb(60, 177, 231); border-bottom-width: 5px; border-bottom-style: solid;
}
.header .header_nav .login {
	width: 110px; height: 42px; margin-left: 40px; float: left;
}
.header .header_nav .zhuce {
	width: 110px; height: 42px; margin-left: 40px; float: left;
}
.header .header_nav .login a {
	background: rgb(255, 255, 255); padding: 0px; border-radius: 5px; border: 1px solid rgb(99, 164, 186); border-image: none; width: 108px; height: 40px; text-align: center; color: rgb(60, 177, 231); line-height: 40px; font-size: 12px; text-decoration: none; display: block;
}
.header .header_nav .zhuce a {
	background: rgb(255, 255, 255); padding: 0px; border-radius: 5px; border: 1px solid rgb(99, 164, 186); border-image: none; width: 108px; height: 40px; text-align: center; color: rgb(60, 177, 231); line-height: 40px; font-size: 12px; text-decoration: none; display: block;
}
.header .header_nav .gerenzhongxin {
	border-radius: 50px; width: 104px; float: right;
}
.header .header_nav .gerenzhongxin li {
	list-style: none; width: 104px; height: 60px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; float: none; position: relative;
}
.header .header_nav .gerenzhongxin li .bzb {
	background: url("../img/icon202.png") no-repeat; left: 50%; top: -13px; width: 36px; height: 20px; margin-left: -18px; display: block; position: absolute;
}
.header .header_nav .gerenzhongxin li .bzbed {
	background: url("../img/icon203.png") no-repeat; left: 50%; top: -13px; width: 36px; height: 20px; margin-left: -18px; display: block; position: absolute;
}
.header .header_nav .gerenzhongxin li .etb {
	background: url("../img/icon221.png") no-repeat; left: 50%; top: -13px; width: 36px; height: 20px; margin-left: -18px; display: block; position: absolute;
}
.header .header_nav .gerenzhongxin li h1 {
	background: url("../img/icon115.png") no-repeat center; width: 104px; height: 41px; text-align: center; line-height: 41px; text-decoration: none; display: block;
}
.header .header_nav .gerenzhongxin li.on h1 {
	background: url("../img/icon116.png") no-repeat center;
}
.header .header_nav .gerenzhongxin li .uls {
	background: rgb(231, 231, 231); border-radius: 5px; top: 60px; box-shadow: none;
}
.header .header_nav .gerenzhongxin li .uls .pos {
	left: 50%; top: -1px; width: 13px; height: 9px; position: absolute; z-index: 15;
}
.header .header_nav .gerenzhongxin li .uls .pos div {
	left: -50%; top: 0px; width: 13px; height: 9px; position: absolute;
}
.header .header_nav .gerenzhongxin li .uls .geren {
	background: rgb(72, 80, 86); margin: 5px; border-radius: 5px; width: 94px; overflow: hidden;
}
.header .header_nav .gerenzhongxin li .uls .geren li {
	width: 94px; height: 32px;
}
.header .header_nav .gerenzhongxin li .uls .geren li.new {
	background: url("../img/icon163.png") no-repeat left top;
}
.header .header_nav .gerenzhongxin li .uls .geren li a {
	width: 94px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; text-indent: 0px; font-size: 12px; display: block;
}
.header .header_nav .gerenzhongxin li .uls .geren li:hover a {
	background: rgb(62, 70, 76);
}
.header .header_nav .gerenzhongxin li .uls .geren li.new:hover a {
	background: url("../img/icon163.png") no-repeat left top rgb(62, 70, 76);
}
.header .header_nav .zhuce a {
	background: rgb(60, 177, 231); color: rgb(255, 255, 255);
}
.header .header_nav .back {
	width: 78px; height: 25px; margin-left: 20px; float: left; display: none;
}
.header .header_nav .back a {
	background: rgb(171, 185, 199); border-radius: 3px; width: 78px; height: 25px; text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; text-decoration: none; margin-top: 17px; display: block;
}
.sideFeedback_z {
	background: url("../img/pic43.png") no-repeat; width: 44px; height: 85px; right: 0px; bottom: 204px; position: fixed; z-index: 10000; cursor: pointer;
}
.sideFeedback_z:hover {
	background: url("../img/pic44.png") no-repeat;
}
.bgFeedback_z {
	background: rgba(0, 0, 0, 0.5); top: 0px; width: 100%; bottom: 0px; position: fixed; z-index: 10001;
}
.bgFeedback_z .opinion {
	background: rgb(255, 255, 255); border-radius: 8px; left: 50%; top: 50%; width: 388px; margin-left: -220px; position: absolute;
}
.bgFeedback_z .opinion1 {
	padding: 0px 26px; height: 424px; margin-top: -212px;
}
.bgFeedback_z .opinion2 {
	height: 150px; text-align: center; color: rgb(0, 157, 224); line-height: 150px; font-size: 16px; margin-top: -75px;
}
.bgFeedback_z .opinion3 {
	height: 150px; text-align: center; color: rgb(0, 157, 224); line-height: 150px; font-size: 16px; margin-top: -75px;
}
.bgFeedback_z .opinion h3 {
	text-align: center; color: rgb(102, 102, 102); line-height: 66px; font-size: 22px;
}
.bgFeedback_z textarea {
	padding: 12px; width: 364px; height: 246px; color: rgb(102, 102, 102); overflow: auto; font-family: Î¢ÈíÑÅºÚ,"Microsoft YaHei"; font-size: 16px; resize: none;
}
.bgFeedback_z .sub {
	background: rgb(60, 177, 231); margin: 30px auto 0px; border-radius: 4px; width: 88px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 14px; display: block; cursor: pointer;
}
.bgFeedback_z .delet {
	background: url("../img/icon197.png") no-repeat; border-radius: 13px; transition:0.8s; top: 26px; width: 23px; height: 23px; right: 26px; font-size: 16px; position: absolute; cursor: pointer;
}
.bgFeedback_z .delet:hover {
	transform: rotate(360deg); -webkit-transform: rotate(360deg);
}
#header .header_nav .userCenter_zxy {
	width: 340px;
}
#header .userCenter_zxy > li {
	padding: 0px 11px; width: auto; float: right;
}
#header .userCenter_zxy > li:nth-of-type(1) {
	padding: 0px;
}
#header .userCenter_zxy > li:nth-of-type(2) {
	padding-right: 0px; margin-right: 3px; position: relative;
}
#header .userCenter_zxy .newLi a {
	float: left;
}
#header .userCenter_zxy .newLi i {
	float: left;
}
#header .userCenter_zxy .newLi span {
	float: left;
}
#header .userCenter_zxy .newLi i {
	width: 13px; height: 12px; margin-top: 14px; margin-right: 6px; display: inline-block;
}
#header .userCenter_zxy .newLi .navlist span {
	background: rgb(255, 152, 87); padding: 3px 5px; border-radius: 4px; text-align: center; color: rgb(255, 255, 255); line-height: 17px; font-size: 12px; margin-top: 7px; margin-left: 11px; display: inline-block; cursor: pointer;
}
#header .userCenter_zxy .newLi .navlist i {
	background: url("../img/icon184.png") no-repeat center;
}
#header .userCenter_zxy .newLi .navlist1 i {
	background: url("../img/icon183.png") no-repeat center;
}
#header .userCenter_zxy .newLi .navlist1 i.active {
	background: url("../img/icon189.png") no-repeat center;
}
#header .userCenter_zxy .newLi .specific {
	border-radius: 4px; left: -11px; top: 60px; width: 114px; height: 68px; padding-top: 8px; display: none; position: absolute; background-color: rgb(241, 241, 245);
}
#header .userCenter_zxy .newLi .specific a {
	width: 100%; height: 32px; text-align: left; line-height: 32px; text-indent: 28px; padding-bottom: 0px; font-size: 12px; float: none; display: block; position: relative;
}
#header .userCenter_zxy .newLi .specific span {
	left: 7px; top: 6px; width: 20px; height: 20px; position: absolute;
}
#header .userCenter_zxy .newLi .specific a:nth-of-type(1) span {
	background: url("../img/icon186.png") no-repeat center;
}
#header .userCenter_zxy .newLi .specific a:nth-of-type(2) span {
	background: url("../img/icon193.png") no-repeat center;
}
#header .userCenter_zxy :nth-of-type(2).newLi:hover .specific {
	display: block;
}
#header .userCenter_zxy :nth-of-type(3).newLi:hover a {
	color: rgb(45, 159, 219);
}
#header .userCenter_zxy .newLi .specific a:hover {
	color: rgb(45, 159, 219);
}
#header .userCenter_zxy .newLi .specific a:nth-of-type(1):hover span {
	background: url("../img/icon187.png") no-repeat center;
}
#header .userCenter_zxy .newLi .specific a:nth-of-type(2):hover span {
	background: url("../img/icon192.png") no-repeat center;
}
.personal_right .btns {
	margin: 20px 20px 80px; text-align: center;
}
.personal_right .btns button {
	background: rgb(60, 177, 231); padding: 0px 52px; border-radius: 5px; border: 0px currentColor; border-image: none; height: 45px; color: rgb(255, 255, 255); line-height: 45px; font-size: 18px; display: inline-block; cursor: pointer;
}
.personal_right .btns a {
	background: rgb(60, 177, 231); padding: 0px 52px; border-radius: 5px; border: 0px currentColor; border-image: none; height: 45px; color: rgb(255, 255, 255); line-height: 45px; font-size: 18px; display: inline-block; cursor: pointer;
}
.renzheng .btns {
	background: rgb(60, 177, 231); padding: 0px 52px; border-radius: 5px; border: 0px currentColor; border-image: none; height: 45px; color: rgb(255, 255, 255); line-height: 45px; font-size: 18px; display: inline-block; cursor: pointer;
}
.personal_right .btns button:hover {
	background: rgb(84, 196, 248);
}
.personal_right .btns a:hover {
	background: rgb(84, 196, 248);
}
.renzheng .btns:hover {
	background: rgb(84, 196, 248);
}
#wrap {
	width: 100%; margin-top: 85px;
}
#wrap1 {
	width: 100%; margin-top: 10px; position: relative;
}
.wrap .banner_head {
	width: 100%; text-align: center; overflow: hidden; position: relative;
}
.wrap .banner_head_bg {
	background: url("../img/cwf_yun.png") repeat-x; left: 0px; width: 100%; height: 109px; bottom: 0px; position: absolute; z-index: 10;
}
