<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!-- 微信请求日志 -->
	<appender name="requestLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/data/logs/request/request.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/data/logs/request/request.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%mdc{client}%msg%n</Pattern>
		</encoder>
	</appender>
	<!-- bidRequest  日志 -->
	<appender name="bidRequestLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/data/logs/bidRequest/bidRequest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/data/logs/bidRequest/bidRequest.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%mdc{client}%msg%n</Pattern>
		</encoder>
	</appender>
	
	<!-- bidResponse  日志 -->
	<appender name="bidResponseLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/data/logs/bidResponse/bidResponse.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/data/logs/bidResponse/bidResponse.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%mdc{client}%msg%n</Pattern>
		</encoder>
	</appender>
	
	<!-- 返回给微信的日志 -->
	<appender name="responseLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/data/logs/response/response.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/data/logs/response/response.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%mdc{client}%msg%n</Pattern>
		</encoder>
	</appender>
	<!-- 返回给微信的日志 -->
	<appender name="systemErrorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/data/logs/systemError/systemError.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/data/logs/systemError/systemError.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%mdc{client}%msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="REQUEST_LOG" level="ERROR" additivity="false">
		<appender-ref ref="requestLogFile" />
	</logger>
	<logger name="BID_REQUEST_LOG" level="ERROR" additivity="false">
		<appender-ref ref="bidRequestLogFile" />
	</logger>
	<logger name="BID_RESPONSE_LOG" level="ERROR" additivity="false">
		<appender-ref ref="bidResponseLogFile" />
	</logger>
	
	<logger name="RESPONSE_LOG" level="ERROR" additivity="false">
		<appender-ref ref="responseLogFile" />
	</logger>
	<logger name="SYSTEMERROR_LOG" level="ERROR" additivity="false">
		<appender-ref ref="systemErrorLogFile" />
	</logger>
	
	<logger name="org.springframework" level="error">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="java.sql" level="error">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.cheng" level="error">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.laozapp" level="info">
		<appender-ref ref="STDOUT" />
	</logger>
	

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>  